section.s-about
    .container
        .about
         h2
            a(name="about") Обо мне
         p Я закончила Коми государственный педагогический институт по специальности “Математика” с дополнительной специальностью “Информатика”. Во время учебы активно занималась научной деятельностью: писала статьи, выступала на конференциях, в том числе международных.
         p Мой путь в IT-сфере начался с увлечения Instagram и Youtube. Я развивала свои аккаунты, паралелльно изучая SMM. Хотя еще в институте я мечтала работать в большой Games-студии.
         p В мае 2018 года моя мечта сбылась. И уже третий год я работаю в Kama Games Studio. Моя работа вдохновляет меня развиваться в сфере IT. 
         p В мае 2020 я поняла, что переросла свою должность. Сейчас я активно изучаю Front-end разработку. Шаг за шагом прохожу курсы и практикумы. Верстаю по Youtube-урокам, сортируя полезную информацию и не очень. Чувствую необходимость в стажировке под руководством опытных наставников.