section.s-portfolio
    .container
        h2 Достижения
        .portfolio
            h3
                a(name="portfolio") Я учусь
            .portfolio__body
                .portfolio__info
                    p Рабочих сайтов у меня пока нет, но уже есть несколько репозиториев на Github. А также сертификаты об успешном окончании курсов.
                    br
                    p Мой план дейсвий на сегодня такой:
                    br
                    p Я изучила HTML, CSS, SCSS, БЭМ, Pug
                    p Сделала сборку-шаблон на Gulp4
                    p Сейчас учу JS, React JS. Паралелльно активно и много верстаю. После этого лендинга сверстаю блог, чтобы описывать свой путь обучения.
                .swiper-wrapper
                    .portfolio__photo.swiper-slide_1
                    .portfolio__photo.swiper-slide_2
                    .portfolio__photo.swiper-slide_3
                    .portfolio__photo.swiper-slide_4